<div class="wrapper">
  <div *ngIf="item$ | async as item; else loading">
    <a [routerLink]="['/']">
      <mat-icon fontIcon="arrow_back"></mat-icon>
      Вернуться
    </a>
    <h1>{{ item.title.userPreferred | titlecase }}</h1>
    <div>
      <p>Status</p>
      <p>{{ item.status || 'unknown' | titlecase }}</p>
    </div>
    <div>
      <p>Season</p>
      <p>{{ item.season || 'unknown' | titlecase }}</p>
    </div>
    <div>
      <p>Start date</p>
      <p>{{ item.startDate.year || 'Unknown' }}</p>
    </div>
    <div>
      <p>End date</p>
      <p>{{ item.endDate.year || 'Unknown' }}</p>
    </div>
    <div>
      <p>Description</p>
      <p>{{ item.description || 'Unknown' | titlecase }}</p>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading</p>
  </ng-template>
</div>