<div class="wrapper">
  <div *ngIf="post$ | async as post; else loading">
    <button mat-stroked-button [routerLink]="['/']">Вернуться</button>
    <h1>{{ post.title.userPreferred | titlecase }}</h1>
    <p>Status: {{ post.status | titlecase }}</p>
    <p>Description: {{ post.description }}</p>
    <p>Season: {{ post.season | titlecase }}</p>
    <p>Start date: {{ post.startDate.year }}</p>
    <p>End date: {{ post.endDate.year }}</p>
  </div>

  <ng-template #loading>
    <p>Loading</p>
  </ng-template>
</div>