<div class="wrapper">
  <div *ngIf="post$ | async as post; else loading">
    <a [routerLink]="['/']">
      <mat-icon fontIcon="arrow_back"></mat-icon>
      Вернуться
    </a>
    <h1>{{ post.title.userPreferred | titlecase }}</h1>
    <div>
      <p>Status</p>
      <p>{{ post.status || 'unknown' | titlecase }}</p>
    </div>
    <div>
      <p>Season</p>
      <p>{{ post.season || 'unknown' | titlecase }}</p>
    </div>
    <div>
      <p>Start date</p>
      <p>{{ post.startDate.year || 'Unknown' }}</p>
    </div>
    <div>
      <p>End date</p>
      <p>{{ post.endDate.year || 'Unknown' }}</p>
    </div>
    <div>
      <p>Description</p>
      <p>{{ post.description || 'Unknown' | titlecase }}</p>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading</p>
  </ng-template>
</div>