.wrapper {
  display: flex;
  min-height: 100vh;
  .dashboard {
    padding: 40px;
    width: 100%;
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .pagination {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}